;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 []

 :dev-http {8080 "public"}
 :builds
 {:firefly
  {:target :browser
   :modules {:main {:init-fn firefly.app/init}}
   }}}
